<!DOCTYPE html>
<html>
<head>
  <title>My Food Project</title>
</head>
<body>
  <!-- Include the header partial -->
  <%- include('./partials/header.ejs') %>

  <main>
    <!-- Your main content goes here -->
    <h1>Welcome to my website!</h1>
    <p>This is the home page content.</p>
    <div class="container">
      
      <form id="myForm" method="post">
        <label for="idInput">Maximum Calories:</label>
        <input type="number" id="maxCaloriesInput" name="maxCalories">
  
        <label for="secretInput">Minimum Protein:</label>
        <input type="number" id="minProteinInput" name="minProtein">
  
        <label for="scoreInput">Minimum Carbohidrates:</label>
        <input type="number" id="minCarbInput" name="minCarbs">

        <label for="scoreInput">Minimum Fat:</label>
        <input type="number" id="minFatInput" name="minFat">
  
        <label for="submit">Route:</label>
        <input id="get" type="submit" value="SEARCH" formaction="/get-recipe">
      </form>
    </div>
    
      <h1>Recipes</h1>
      <div class="container">
      <% if (Array.isArray(content)) { %>
        <% content.forEach(recipe => { %>
        <div class="recipe-card" >
          <h2><%= recipe.title %></h2>
          <img src="<%= recipe.image %>" alt="Recipe Image" />
          <p>Calories: <%= recipe.calories %></p>
          <p>Protein: <%= recipe.protein %></p>
          <p>Fat: <%= recipe.fat %></p>
          <p>Carbs: <%= recipe.carbs %></p>
        </div>
        <% }) %>
      <% } else { %>
        <p>No recipes found.</p>
      <% } %>
    </div>
      
    
  </main>

  <!-- Include the footer partial -->
  <%- include('./partials/footer.ejs') %>

</body>
</html>